*{
    margin: 0;
    padding: 0;
}
.project_container{
    width:100%;
    height:80%;
    background: #111430;
    margin-top:150px;

}
.carousel{
    width:700px;
    margin-left: 220px;
    
}
.carousel-inner img{
    width: 500px;
    margin-left: 100px;
    border-radius: 2%;
}